# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
.env/

# Editor folders
.vscode/
.idea/
*.swp

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# High score file (optional, if you don't want it tracked)
highScore.txt
